footer {
  margin-top: auto;
  text-align: center;
  padding: 15px 15px 25px 15px; // added more bottom padding

  .scores {
    font-size: 0.9rem;
    color: #5b4c5e;
    margin: 0;
    font-weight: normal;
  }
}
